<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cursos Disponibles</title>
  <link rel="stylesheet" href="../css/diseno.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='../css/course_cardcss') }}">
</head>
<body>
  <header>
	  <div style="display: flex; align-items: center; gap: 15px;">
      <img src="https://server.ucatolica.edu.co/images/logo_u.png" alt="Logo de la plataforma" style="height: 50px;">
      <h1>Cursos Disponibles. 👋 Bienvenido, {{ usuario }}</h1>
	  </div>
	  <nav>
	  <a href="/home">Volver a mi página</a> | <a href="/logout">Cerrar sesión</a>
      </nav>
  </header>

  <main class="main-content">
    <div class="courses-grid">
      {% if cursos %}
        {% for curso in cursos %}
          <div class="course-card">
            <h3>{{ curso.nombre_curso }}</h3>
            <p>{{ curso.descripcion }}</p>
            <a href="/inscribirse/{{ curso.id_curso }}" class="btn_course">📝 Inscribirse</a>
          </div>
        {% endfor %}
      {% else %}
       <div class="center-message-container">
          <p class="no-courses-message">No hay cursos disponibles para inscribirse.</p>
       </div>      
      {% endif %}
    </div>
  </main>
    <footer>
    <p>&copy; 2025 Mi Plataforma de Cursos. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
