<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Profesor - Plataforma de Cursos</title>
  <link rel="stylesheet" href="../css/diseno.css">
  <link rel="stylesheet" href="../css/profesor_dashboard.css">
</head>
<body>
   <header>
    <div style="display: flex; align-items: center; gap: 15px;">
      <img src="https://server.ucatolica.edu.co/images/logo_u.png" alt="Logo de la plataforma" style="height: 50px;">
      <h1>Panel de Profesor. Bienvenido, {{ usuario }}</h1>
    </div>
    <nav>
      <a href="/profesor/crear_curso">➕ Crear Curso</a>
      <a href="/logout">Cerrar sesión</a>
    </nav>
  </header>   

<!-- Gestión de cursos -->

  <main class="main-content">
    <h2>📚 Cursos que impartes </h2>
	<br>
    <div class="courses-grid" id="gestion-cursos">
      {% if cursos %}
        {% for curso in cursos %}
          <div class="course-card">
            <h3>{{ curso.nombre_curso }}</h3>
            <p>{{ curso.descripcion }}</p>
          </div>
        {% endfor %}
      {% else %}
        <div class="center-message-container">
          <p class="no-courses-message">Aun no tienes cursos para impartir</p>
        </div>
      {% endif %}
    </div>
  </main>
   <footer>
    <p>&copy; 2025 Mi Plataforma de Cursos. Todos los derechos reservados.</p>
  </footer> 
</body>
</html>
